<%- include('../includes/header.ejs') %>
<div class="pokemons">
    <p>Thanks for registartion: <%= user.name %> <%= user.surname %>!</p>
    <p>Your email: <%= user.email %></p>
    <p>You password: <%= password %></p>
</div>
<%- include('../includes/footer.ejs', {SITE}) %>
