<%- include('../includes/header.ejs') %>
<div class=pokemons>
    <h1>DEAR <%= user.name %> <%= user.surname %>!</h1>
    <h2>THANKS FOR CREATE A PRODUCT ❤️</h2>
    <p><%= product.title %> – <%= product.price %>$</p>
    <p><%= product.description %></p>
</div>
<%- include('../includes/footer.ejs', {SITE}) %>
